@import 'nib'

@keyframes fadeInOut 
  from
    opacity 0
  to
    opacity 1

#loader
  position fixed
  width 100%
  height 100px
  top 40%
  margin-top -50px
  z-index 100
  text-align center
  font-size 32px
  text-shadow 0 1px 5px black
  opacity 1
  transition opacity 0.2s ease
  pointer-events none

  &.off
    opacity 0
    pointer-events none

  span
    animation fadeInOut 0.5s ease infinite alternate

    &:nth-child(1)
      animation-delay 0.5s

    &:nth-child(2)
      animation-delay 0.6s

    &:nth-child(3)
      animation-delay 0.7s

  > div
    width 320px
    height 12px
    margin auto
    margin-bottom 50px
    overflow hidden
    background-color rgba(255, 255, 255, 0.3)
    box-shadow 0 0 5px rgba(0, 0, 0, 0.6)
    border-radius 100px
    transition opacity 0.2s ease

    &.off
      opacity 0

    > div
      height 12px
      width 0
      overflow hidden
      background-color rgba(255, 255, 255, 0.6)
      border-radius 100px
      transition width 0.1s ease
