@import 'nib'

html, body
  height 100%
  padding 0
  margin 0

body
  background-color black
  overflow hidden

#container
  height 100%
  width 100%
  overflow auto
  color white
  font-family 'Lato', sans-serif
  font-weight 300
  background-color black
  background-image url(../images/bg.jpg)
  background-size cover
  background-position bottom
  background-attachment fixed
  animation FadeIn 0.5s ease

@keyframes FadeIn 
  from 
    opacity 0
  to
    opacity 1
