@import 'nib'

.options
  display block
  position fixed
  bottom 0
  left 0
  width 100%
  height 56px
  box-sizing border-box
  padding 12px
  text-align right
  transition all 0.5s ease
  z-index 200
  opacity 0.5

  &:hover
    opacity 1

.option
  display inline-block;
  height: 16px;
  padding 8px
  margin-left 12px
  line-height 14px
  text-shadow 0 0 3px black, 0 0 3px black, 0 0 3px transparent
  color white
  border none
  border-radius 10px
  background-color rgba(255, 255, 255, 0.2)
  box-shadow 0 0 5px rgba(255, 255, 255, 0.8), 0 0 5px rgba(255, 255, 255, 0)
  cursor pointer
  transition all 0.5s ease

  &:hover
    background-color rgba(255, 255, 255, 0.4)
    text-shadow 0 0 5px black, 0 0 5px black, 0 0 5px black
    box-shadow 0 0 5px white, 0 0 5px rgba(255, 255, 255, 0.8)
