<header>
  <h1>MusicThingy</h1>
  <span><span>Play some</span></span> <input autocomplete="off"><a class="cancel">&times;</a>
  <p>Who's your favourite band or musician?</p>
  <a class="go">Go &gt;</a>
</header>
<ul id="results"></ul>
